{% extends 'layout.html' %}

{% block myContent %}
    <h2>Welcome to ICT Academy of Kerala Home Page</h2>
        <p>ICT Academy of Kerala is a Social Enterprise created in a Public Private Partnership model (PPP) for imparting ICT skills to the youths of Kerala and improve their employability opportunities in the Industry. The Company is supported by Govt. of India , partnered by Govt. of Kerala and the ICT industry.</p>
    <h4>Vision</h4>
        <p>To emerge as the single-point establishment for all the ICT related capability building in the State</p>
    
{% endblock %}